
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" style="background-color:rgb(8, 103, 167)">

    <mat-toolbar-row (click)="toggleMenu()">
      <mat-icon (click)="toggleMenu()">menu</mat-icon> Company Name
    </mat-toolbar-row>
    <mat-toolbar >
      <mat-toolbar-row (click)="toggleMenu()">
        <mat-icon>dashboard</mat-icon> Documents
      </mat-toolbar-row>

      <mat-toolbar-row  >
        <mat-icon>person</mat-icon>
       
      </mat-toolbar-row>

    </mat-toolbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar style="background-color:rgb(8, 103, 167)">

      <mat-icon (click)="toggleMenu()">menu</mat-icon>
      
       <p><button mat-button (click)="sidenav.toggle()"></button></p>
      Company Name
    </mat-toolbar>

    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          The <em>best</em> pasta
        </ng-template>
        <h1>Best pasta restaurants</h1>
        <p>...</p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>thumb_down</mat-icon> The worst sushi
        </ng-template>
        <h1>Terrible sushi restaurants</h1>
        <p>...</p>
      </mat-tab>
    </mat-tab-group>

    <!-- <div mdbDropdown class="dropdown">
      <a
        class="btn btn-primary dropdown-toggle"
        role="button"
        id="dropdownMenuLink"
        mdbDropdownToggle
        aria-expanded="false"
      >
        Dropdown link
      </a>
      <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div> -->
  </mat-sidenav-content>

</mat-sidenav-container> 





<!-- <div class="bg-container">
    <div class="side-navigation-bar-container">
        <div class="side-navigation-title-container">
            <h1 class="side-navigation-title">FCA</h1>
            <span class="side-navigation-company-name">STG infotech</span>
            <span class="side-navigation-company-name">Audit Manager</span>
        </div>
        <div class="nav-container">
            <div class="plan-drop-down-container">

            </div>
        </div>
    </div>

</div> -->